@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,250,100italic,250italic");

html,
body,
div,
span,
h1,
h2,
p,
a,
em,
img,
q,
s,
small,
strong,
b,
u,
i,
center,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer,
header,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	background: #131313;
}

body,
input,
select,
textarea {
	color: rgba(255, 255, 255, 0.75);
	font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 12pt;
	font-weight: 600;
	line-height: 1.75em;
}

a {
	transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: #bd1515;
	text-decoration: none;
}

a:hover {
	color: #bd1515 !important;
	border-bottom-color: transparent;
}

strong,
b {
	color: #ffffff;
	font-weight: 300;
}

em,
i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1,
h2 {
	color: #ffffff;
	font-weight: 600;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a,
h2 a {
	color: inherit;
	border: 0;
}

h2 {
	font-size: 2em;
	line-height: 1.5em;
	letter-spacing: -0.010em;
}

header p {
	color: #ffffff;
	position: relative;
	margin: 0 0 1.5em 0;
}

header h2+p {
	font-size: 1.25em;
	margin-top: -1em;
	line-height: 1.75em;
}

header h3+p {
	font-size: 1.1em;
	margin-top: -0.8em;
	line-height: 1.75em;
}

header.major {
	margin: 0 0 4em 0;
	position: relative;
	text-align: center;
}

header.major:after {
	background: #e00025;
	content: '';
	display: inline-block;
	height: 0.2em;
	max-width: 20em;
	width: 75%;
}

footer.major {
	margin: 4em 0 0 0;
}

.box {
	border-radius: 4px;
	border: solid 1px rgba(255, 255, 255, 0.3);
	margin-bottom: 2em;
	padding: 1.5em;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
}

.col-4 {
	flex: 0 0 calc(33.333% - 1.5em);
	max-width: calc(33.333% - 1.5em);
	text-align: center;
}

.col-4 .icon,
.col-4 h3,
.col-4 p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.row .col-4 h3 {
	font-weight: 600;
}

@media (max-width: 768px) {
	.col-4 {
		flex: 0 0 calc(50% - 1.5em);
		max-width: calc(50% - 1.5em);
	}
}

@media (max-width: 480px) {
	.col-4 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon>.label {
	display: none;
}

.icon:before {
	line-height: inherit;
}

.icon.solid:before {
	font-weight: 900 !important;
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands' !important;
}

.icon.alt {
	text-decoration: none;
}

.icon.alt:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon.alt:before {
	color: #1c1d26 !important;
	text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
}

.icon.major {
	background: #272833;
	border-radius: 100%;
	cursor: default;
	display: inline-block;
	height: 6em;
	line-height: 5.65em;
	margin: 0 0 2em 0;
	text-align: center;
	width: 6em;
}

.icon.major:before {
	font-size: 2.25em;
}

.icon.major.alt {
	text-decoration: none;
}

.icon.major.alt:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon.major.alt:before {
	color: #272833 !important;
	text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
}

.card {
	background: #4ca1f03f;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.055);
	padding: 1em;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 700px;
	margin: 0 auto;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(80, 79, 79, 0.2);
}

.icon.major {
	background: linear-gradient(135deg, #f870b0, #7c1300);
	border-radius: 50%;
	display: inline-block;
	height: 3em;
	width: 3em;
	line-height: 3em;
	margin: 0 auto 1em;
	text-align: center;
	color: #fff;
	font-size: 1.25em;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.icon.major:before {
	font-size: 1.25em;
	line-height: inherit;
}

.card h3 {
	color: #fff;
	font-weight: 600;
	margin-bottom: 1em;
	font-size: 1.25em;
}

.card p {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.85em;
	line-height: 1.5;
}

@media (max-width: 768px) {
	.col-4 {
		flex: 0 0 calc(50% - 1.5em);
		max-width: calc(50% - 1.5em);
	}
}

@media (max-width: 480px) {
	.col-4 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.card2 {
	background: linear-gradient(145deg, rgba(0, 0, 0, 0.9), rgba(20, 20, 20, 0.9));
	border-radius: 0;
	padding: 2em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	height: 100%;
	display: flex;
	margin-left: -12px;
	margin-right: -12px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #8B0000;
	position: relative;
	overflow: hidden;
}

.card2::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border: 2px solid #450000;
	border-radius: 8px;
	z-index: -1;
	opacity: 0.7;
}

.card2:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(139, 0, 0, 0.5);
}

.card2 .icon {
	margin-bottom: 1em;
}

.card2 h3 {
	color: #ffffff;
	margin-bottom: 0.5em;
}

.card p {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.9em;
	line-height: 1.6;
}

li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px rgba(255, 255, 255, 0.3);
	padding: 0.5em 0;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
}

ul.icons li .icon {
	font-size: 0.8em;
}

ul.icons li .icon:before {
	font-size: 2em;
}

.button {
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	height: 3em;
	line-height: 3em;
	padding: 0 2.25em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.button:hover,
.button:active {
	box-shadow: inset 0 0 0 1px #e01436;
	color: #e01436 !important;
}

.button:active {
	background-color: rgba(228, 76, 101, 0.15);
}

.button.icon:before {
	margin-right: 0.5em;
}

.button.fit {
	width: 100%;
}

.button.small {
	font-size: 0.8em;
}

.button.large {
	font-size: 1.35em;
}

.goto-next {
	border: 0;
	bottom: 0;
	display: block;
	height: 5em;
	left: 50%;
	margin: 0 0 0 -5em;
	overflow: hidden;
	position: absolute;
	text-indent: 10em;
	white-space: nowrap;
	width: 10em;
	z-index: 1;
}

.goto-next:before {
	background-image: url("images/arrow.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: block;
	height: 1.5em;
	left: 50%;
	margin: -0.75em 0 0 -1em;
	position: absolute;
	top: 50%;
	width: 2em;
	z-index: 1;
}

.wrapper {
	padding: 6em 0 4em 0;
}

.wrapper.fade-up>.container {
	transform: translate(0, 0);
	transition: transform 1s ease, opacity 1s ease;
	opacity: 1;
}

.wrapper.fade-up.inactive>.container {
	transform: translate(0, 1em);
	opacity: 0;
}

.wrapper.fade>.container {
	transition: opacity 1s ease;
	opacity: 1;
}

.wrapper.fade.inactive>.container {
	opacity: 0;
}

#page-wrapper {
	padding-top: 3.5em;
}

#header {
	background: rgba(5, 5, 5, 0.965);
	box-shadow: 0 0 0.25em 0 rgba(209, 209, 209, 0.25);
	cursor: default;
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#header h1 {
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	margin: 0;
	position: absolute;
	top: 0;
}

#header nav {
	position: absolute;
	right: 1em;
	top: 0;
}

#header nav ul {
	margin: 0;
}

#header nav ul li {
	display: inline-block;
	margin-left: 1em;
}

#header nav ul li a,
#header nav ul li span {
	border: 0;
	color: inherit;
	display: inline-block;
	height: inherit;
	line-height: inherit;
	outline: 0;
}

#header nav ul li a.button,
#header nav ul li span.button {
	height: 2em;
	line-height: 2em;
	padding: 0 1.50em;
	font-weight: 600;
	color: #fff;
}

#header nav ul li a:not(.button):before,
#header nav ul li span:not(.button):before {
	margin-right: 0.5em;
}

#header nav ul li.active>a,
#header nav ul li.active>span {
	color: #c51515;
}

#header nav ul li>ul {
	display: none;
}

#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 103vh;
	min-height: 20em;
	overflow: hidden;
	position: relative;
	text-align: center;
	background: linear-gradient(to top, #000000, #151515);
}

#banner h2 {
	transform: scale(1);
	transition: transform 0.5s ease, opacity 0.5s ease;
	display: inline-block;
	font-size: 1.75em;
	opacity: 1;
	padding: 0.35em 1em;
	position: relative;
	z-index: 1;
}

#banner h2:before,
#banner h2:after {
	display: none;
}

#banner h2.anim-typewriter {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	position: relative;
	font-size: 2.5em;
	font-weight: bolder;
	color: rgb(236, 25, 25);
	animation: typewriter 5s steps(25) 5s infinite;
}

@keyframes typewriter {
	0% {
		width: 0;
	}

	50% {
		width: 100%;
	}

	100% {
		width: 100%;
	}
}

#banner p {
	letter-spacing: 0.225em;
	text-transform: uppercase;
	text-shadow: #1c1d26 0.05em 0.05em 0.05em;
	color: #ffffff;
	font-size: 1.25em;
	font-weight: bolder;
}

#banner p a {
	color: inherit;
}

#banner .more {
	transition: transform 0.75s ease, opacity 0.75s ease;
	transition-delay: 3.5s;
	transform: translateY(0);
	border: none;
	bottom: 0;
	color: inherit;
	font-size: 0.8em;
	height: 8.5em;
	left: 50%;
	letter-spacing: 0.225em;
	margin-left: -8.5em;
	opacity: 1;
	outline: 0;
	padding-left: 0.225em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 16em;
	z-index: 1;
}

#banner .more:after {
	background-image: url("images/arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 4em;
	content: '';
	display: block;
	height: 1.5em;
	left: 50%;
	margin: 0 0 0 -0.75em;
	position: absolute;
	width: 1.5em;
}

#banner:after {
	pointer-events: none;
	transition: opacity 3s ease-in-out;
	transition-delay: 1.25s;
	content: '';
	background: #2e3842;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

#footer {
	background: #141414;
	padding: 6em 0;
	text-align: center;
}

#footer .icons .icon.alt {
	text-decoration: none;
}

#footer .icons .icon.alt:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

#footer .icons .icon.alt:before {
	color: #000000 !important;
	text-shadow: 1px 0 0 rgba(255, 238, 238, 0.43), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
}

#footer .copyright {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1em;
	line-height: 1em;
	margin: 2em 0 0 0;
	padding: 0;
	text-align: center;
}

#footer .copyright li {
	border-left: solid 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	padding-left: 1.5em;
}

#footer .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#footer .copyright li a {
	color: inherit;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0;
}

.button.black-red-outline {
	display: inline-block;
	padding: 0.10rem 2rem;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 5px;
	background: #000;
	color: #ff6565;
	transition: all 0.3s ease;
	width: 100%;
	max-width: 200px;
	margin: 0.5rem auto;
}

.button.black-red-outline:hover {
	background: #010101;
	color: #000;
	border-color: #000;
}

.icon.brands {
	font-size: 2.25rem;
	margin-bottom: 0.5rem;
	color: #d32c2c;
}

.image img {
	background-color: transparent;
}

@media screen and (max-width: 736px) {
	#banner {
		padding: 7em 3em 5em 3em;
		height: auto;
		min-height: 0;
	}

	#banner h2 {
		font-size: 1.25em;
	}

	#banner br {
		display: none;
	}

	#banner .more {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	#footer {
		padding: 3em 1.25em;
	}

	#footer .copyright {
		line-height: inherit;
	}

	#footer .copyright li {
		border-left: 0;
		display: block;
		margin: 0;
		padding: 0;
	}
}

#one {
	background: rgb(0, 0, 0);
	background-size: cover;
	background-position: center;
}

#screenshots {
	background: black;
	background-size: cover;
	background-position: center;
}

#download {
	background: linear-gradient(to bottom, #000000, #0f0f0f);
	background-size: cover;
	background-position: center;
}

#footer {
	background: #0f0f0f;
	background-size: cover;
	background-position: center;
}